.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 30px;
  color: white;
}

.header__logo img {
  height: 75px;
}

.header__bag {
  display: flex;
  align-items: center;
  position: relative;
  color:white;
}

/* Header.css */
.header__bag-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translate(50%, 0%); 
  }
  
